@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: hsl(0, 0%, 100%);
    margin-top: 75px;
    border-radius: 18px;
    width: 85%;
    padding: 20px;
}
.container__img{
    max-width: 300px;
}
.qr{
    width: 100%;
    border-radius: 10px;
}
.container__text{
    text-align: center;
    line-height:  1.5;
    font-size: 15px ;
}
.title{
    color: hsl(218, 44%, 22%);
}
.paragraph{
    color: hsl(220, 15%, 55%);
}
@media (min-width:400px){
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 300px;
        height: 500px;
    }
}